{% extends 'fancylayout.html' %}

{% block content %}
<style>
  p {
    color: white;
    font-family: arial;
    font-size: 14px;
  }
  ul {
    color: white;
    font-family: arial;
    font-size: 14px;
  }
  h1 {
    color: white;
    font-family: optima;
  }
  br {
    color: white;
    font-family: arial;
    font-size: 14px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  </style>
  <h3>
      <a target="_top" href="https://flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2020/04/22/flamingtext_com_1587516795_267822052.gif" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
</h3>
    <h1>About this website!</h1>

    <br>
    <hr>
    <p>There are three available games:
      <ul>
        <li>The Patronus Quiz</li>
        <li>Blackjack</li>
        <li>Coin Toss</li>
        </ul>
    </p>
    <p>
    Have fun!!
      </p>

{% endblock %}
