{% extends 'fancylayout.html' %}
{% block content %}
<style>
	p {
		font-family: arial;
		font-size: 14px;
		color: white;
	}
	form {
		font-family: arial;
		font-size: 14px;
	}
	.jumbotron {
		font-family: optima;
	}
	p.cards {
		color: white;
		font-size: 14px;
	}
	.cards {
		color: white;
		font-size: 14px;
	}
	input {
		color: black;
		font-size: 14px;
	}
	.trial{
		display: none;
	}
	.conditional_form_part_activator:checked + .trial {
    display: block;
  }
	.trial2{
		display: none;
	}
	.conditional_form_part_activator2:checked + .trial2 {
    display: block;
  }
	label {
		color: white;
		font-size: 14px;
	}
	.form{
		color: white;
		font-size: 14px;
	}
	label.trial{
		color: white;
		font-size: 14px;
	}
	label.trial2{
		color: white;
		font-size: 14px;
	}
</style>
	<div class="jumbotron">
		<h1>Welcome to BlackJack</h1>
	</div>
	<img src="https://www.animatedimages.org/data/media/1049/animated-casino-image-0009.gif">
	<p>The dealer's cards: </p>
	<div class="cards"><p>{{state['dfirst_card']}} {{","}} {{state['dsecond_card']}}{{","}} {{state['dthird_card']}} {{","}} {{state['dfourth_card']}}</p></div>
	<p>Total: </p> <div class="cards"><p>{{state['dealer_total']}}</p></div>
	<p>Your cards: </p>
	<div class="cards"><p>{{state['pfirst_card']}} {{","}} {{state['psecond_card']}}</p></div>
	<p>Total: </p> <div class="cards"><p>{{state['total']}}</p></div>
		<div class="form"><form method="POST" action='/wager'>
			Check "Stay" to stay or check "Hit" to hit.><br>
			<input type="checkbox" name="stayorhit" value="zero">
			<label for="zero"> Stay</label>
			<input type="submit" class="btn btn-lg btn-danger">
	</form></div>
	<form style="color:white;" name="check"> Hit? (Do not press submit)<br>
		<input class="conditional_form_part_activator" type="checkbox">
	<div class="trial">
		<div class="cards"><p>{{state['pfirst_card']}} {{","}} {{state['psecond_card']}} {{","}} {{state['pthird_card']}}</p></div>
	  <p>Total: </p> <div class="cards"><p>{{state['total2']}}</p></div>
	</div>
	{% endblock %}
