{% extends 'fancylayout.html' %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to BlackJack</h1>
  </div>
  <div class="jumbotron">
    <a target="_top" href="https://images2.minutemediacdn.com/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_728/v1555999902/shape/mentalfloss/construction_8.gif?itok=1GFBdKOO" ><img src="https://images2.minutemediacdn.com/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_728/v1555999902/shape/mentalfloss/construction_8.gif?itok=1GFBdKOO" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
  </div>
  {% endblock %}
