{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <a target="_top" href="https://flamingtext.com/" ><img src="https://blog.flamingtext.com/blog/2020/04/22/flamingtext_com_1587518067_267822054.gif" border="0" alt="Logo Design by FlamingText.com" title="Logo Design by FlamingText.com"></a>
  </div>
  <p>Here is your word</p>
  {{state['first']['word_so_far']}}
  <form method="post" action="/play">
    Guess a letter: <input type="text" name="guess">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  <br/>Logo Design by <a href="https://flamingtext.com/">FlamingText.com</a>
{% endblock %}
