{% extends 'fancylayout.html' %}
{% block content %}
<style>
  h2 {
    font-family: optima;
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    font-family: "Times New Roman";
    color: white;
  }
  .jumbotron{
    font-family: optima;
  }
  body {
    background-image: url('https://i.gifer.com/Z4WK.gif');
  }
  ul{
    color: white;
  }
</style>
  <div class="jumbotron">
    <h1>Your Patronus is:</h1>
  </div>
  <h2>Otter</h2>
  <p>An otter represents 'that which is hidden, unknown but necessary within the personality'.</p>
  <h3>Other people with this patronus:</h3>
  <p>
    <ul>
      <li>Hermione Granger</li>
    </ul>
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/f/f3/Hermione_Otter_Patronus.png/revision/latest/scale-to-width-down/699?cb=20170109003508">
  </p>
  <br>
  <hr>

{% endblock %}
