{% extends 'fancylayout.html' %}
{% block content %}
<style>
  h2 {
    font-family: optima;
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    font-family: "Times New Roman";
    color: white;
  }
  .jumbotron{
    font-family: optima;
  }
  body {
    background-image: url('https://i.gifer.com/Z4WK.gif');
  }
  ul {
    color: white;
  }
</style>
  <div class="jumbotron">
    <h1>Your Patronus is:</h1>
  </div>
  <h2>Stag</h2>
  <p>Traditionally seen as ‘King of the Forest’, the stag is the protector of the other animals.</p>
  <h3>Other people with this patronus:</h3>
  <p>
    <ul>
      <li>Harry Potter</li>
      <li>James Potter</li>
    </ul>
    <img src="https://pm1.narvii.com/6310/332cc8d4811283f1255339708c354a657a46b303_00.jpg ">
  </p>
  <br>
  <hr>
{% endblock %}
