{% extends 'fancylayout.html' %}
{% block content %}
<style>
  h2 {
    font-family: optima;
    color: white;
  }
  h1 {
    color: white;
  }
  p {
    font-family: "Times New Roman";
    color: white;
  }
  .jumbotron{
    font-family: optima;
  }
  body {
    background-image: url('https://i.gifer.com/Z4WK.gif');
  }
  ul{
    color: white;
  }
</style>
  <div class="jumbotron">
    <h1>Your Patronus is:</h1>
  </div>
  <h2>Sorry, you're not ready to have a patronus now.</h2>
  <img src="https://thumbs.gfycat.com/SmallSinfulAfricanparadiseflycatcher-mobile.mp4">
  <br>
  <hr>

{% endblock %}
